body{
    background-color: #0093af;
    font-family: 'Gothic A1', sans-serif;
}
#main-section{
    width: 100%;
}
#top-title-div{
    padding: 20px;
}
#top-title-div a{
    color: #fdff00;
    text-decoration: none;
    font-family: 'Acme', sans-serif;
}
#top-title-div a:hover{
    text-decoration: underline;
}
#top-title-div h1{
    color: #fdff00;
    font-size: 70px;
    text-align: center;
    font-family: 'Acme', sans-serif;
}
#all-div{
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border-radius: 8px;
}
#video-div{
    width: 70%;
    
    
}
#prev-div{
    width: 30%;
    background-color: #fff;
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid #ccc;
}
.video-play{
    padding-top: 30px;
}
.video-play iframe{
    width: 100%;
    height: 300px;
    border: none;
}

.video-tools{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
#view-div h4{
    margin: 0;
    color: #9e9e9e;
    font-weight: 600;
    padding-left: 10px;
}

#icon-div i{
    margin-right: 20px;
    color: #9e9e9e;
}
.border-div{
    border-bottom: 1px solid #ccc;

}




.video-card-title{
    padding: 20px 10px;
}
.video-card-title:hover{
    text-decoration: underline;
}
.video-card-desc{
    padding-left: 10px;
}
.playlist-card{
    
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 8px;
    box-sizing: border-box;
    background-color: white;
}

.playlist-card > a{
    text-decoration: none;
    color: black;
}

.thumbnail{
    width: 100%;
    display: block;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.video-card-title{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}


